<!DOCTYPE html>
<html>
  <head>
    <title>eALPluS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel='stylesheet' href='/ealplus-public/stylesheets/style.css'/>
    <link rel='stylesheet' href='/ealplus-public/stylesheets/tool_list.css'/>
  </head>
  <body>
    <div class="container">
      <div class="top_contents">
        <div class="title">eALPluS<a href="/connection/" class="link"></a></div>
        <div class="menu">
          <ul>
            <li><a href="#" class="link">About</a></li>
            <li><a href="/lti/return" class="link">Return</a></li>
            <li><a href="/lti/logout" class="link">Logout</a></li>
          </ul>
        </div>
      </div>
      
      <div class="main_contents">
        <div class="tool_area">
          <div class="tool_list">
          <% tool_list.forEach(function(tool) { %>                                                                                                                                                                                                  
            <div class="one_tool" id="<%= tool.tool_id %>">
              <div class="tool_img">
                <% if (tool.route_mode == "single") { %>
                  <img src="https://www.google.com/s2/favicons?domain=<%= tool.route_url %>" alt="<%= tool.tool_name[0] %>">
                <% }else{%>
                  <img src="/ealplus-public/images/favicon.ico" alt="<%= tool.tool_name[0] %>">
                <% } %>
              </div>
              <div class="tool_name"><%= tool.tool_name %></div>
              <a href="/connection/<%= tool.class %>/Tool?id=<%= tool.tool_id %>" title="<%= tool.tool_name %>"></a>
              <% if (role) { %>
                <div class="edit_tool">
                  <a href="/connection/<%= tool.class %>/EditTool?id=<%= tool.tool_id %>" title="ツールの編集"></a>
                </div>
              <% } %>
            </div>                                                                                                                                                                                                                                       
          <% }); %>
          <% if (role) { %>
            <div class="one_tool">
              <div class="tool_img">+</div>
              <div class="tool_name">ツールの追加</div>
              <a href="/connection/<%= LTI['https://purl.imsglobal.org/spec/lti/claim/lis'].course_section_sourcedid %>/AddTool" title="ツールの追加"></a>
            </div>
          <% } %>
            <%- include('./common/alert') %>
          </div>
        </div>
        <div class="class_name">
          Connected 
          <% if ((LTI['https://purl.imsglobal.org/spec/lti/claim/context'] != null) && LTI['https://purl.imsglobal.org/spec/lti/claim/context'].label != null) { %>
            <%= LTI['https://purl.imsglobal.org/spec/lti/claim/context'].label %>
          <% } %>
        </div>
      </div>

    </div>
  </body>
</html>
